.truthTable, .truthTable th, .truthTable td {
  border: 1px solid white;
}

.truthTable th {
  color: teal;
  background-color: white;
}

.truthTable {
  border-collapse: collapse;
  margin: 30px 0;
  font-size: 20px;
}

.truthTable th, .truthTable td {
  padding: 8px;
  text-align: center;
}
