* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: teal;
}

main {
  padding: 20px;
  padding-bottom: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: teal;
  color: white;
}

.app {
  position: relative;
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin: 0;
}

.description {
  margin: 20px 0;
}

.inputBox {
  padding: 10px;
  font-size: 18px;
  outline: 0;
  width: 40%;
}

.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GitHubLogo {
  height: 50px;
}

:global(.fa-github) {
  font-size: 2.5em;
  color: #ddd;
  transition: color 0.1s linear; 
}

:global(.fa-github):hover {
  color: #fff;
}

.helpButton {
  border: 0;
  background: none;
  position: absolute;
  right: 0;
  top: 0;
}

.helpButton :global(.fa-question-circle) {
  font-size: 4em;
  color: #fff;
  cursor: pointer;
  transition: color 0.1s linear;
}

.helpButton :global(.fa-question-circle):hover {
  color: #eee;
}
