* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: grey;
}

._app_1uxjw_13 {
  background-color: teal;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

._inputBox_1uxjw_22 {
  padding: 10px;
  font-size: 18px;
  outline: 0;
}

._truthTable_1tmky_1, ._truthTable_1tmky_1 th, ._truthTable_1tmky_1 td {
  border: 1px solid white;
}

._truthTable_1tmky_1 {
  border-collapse: collapse;
  margin: 30px 0;
}

._truthTable_1tmky_1 th, ._truthTable_1tmky_1 td {
  padding: 8px;
  text-align: center;
}
